/*import all poppins weights*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-border: #d9d9d9;
  --color-text: #232323;
  --color-background: #fff;
  --color-correctKey: #6aaa64;
  --color-wrongKey: #cb2431;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f2f2f2;
  color: var(--color-text);
  font-weigth: bold;
}

.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
}

.container-word {
  text-align: center;
  background-color: #fff;
  width: 350px;
  height: 200px;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 10px;
  font-weight: semibold;
}

.container-title {
  background-color: var(--color-border);
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  width: 100%;
  padding: 7px;
}

.word {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
  font-size: 30px;
}

.word > * {
  width: 35px;
  heigh: 35px;
  border: solid 2px var(--color-border);
  border-radius: 10px;
}

.container-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 350px;
  margin: 5px auto;
  gap: 10px;
  font-weight: bold;
}

.container-stats p {
  font-size: 0.8rem;
  width: 100%;
  background-color: #fff;
  padding: 12px;
  border-radius: 10px;
  border: solid 2px var(--color-border);
  border-bottom: solid 4px var(--color-border);
  letter-spacing: 1px;
}

input {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  font-size: 1rem;
  margin-bottom: 20px;
  border: solid 2px var(--color-border);
  font-weight: bold;
}

input::placeholder {
  color: var(--color-border);
  font-size: 0.8rem;
}

input:focus {
  outline: none;
  border: 2px solid var(--color-border);
  transition: 0.3s ease-in-out;
}

input:focus::placeholder {
  color: transparent;
  transition: 0.5s ease-in-out;
}

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
  flex-wrap: wrap;
}

.keyboard .key {
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: solid 2px var(--color-border);
  border-bottom: solid 4px var(--color-border);
}

.correctKey:hover {
  background-color: #82cf7a;
  border: solid 2px #6aaa64;
  border-bottom: solid 4px var(--color-correctKey);
  transition: 0.4s ease-in-out;
  animation: 0.6s correctKeyAnimation;
}

.wrongKey:hover {
  background-color: #e74c3c;
  border: solid 2px #b33c2c;
  border-bottom: solid 4px var(--color-wrongKey);
  animation: 0.3s wrongKeyAnimation;
}

.win {
  box-shadow: 0px 0px 0px 3px #40e340;
  transition: 0.4s ease-in-out;
}

.lose {
  box-shadow: 0px 0px 0px 3px #e74c3c;
  transition: 0.4s ease-in-out;
}

.life-bar {
  display: flex;
  align-items: center;
  width: 320px;
  height: 30px;
  margin: 0px auto;
  margin-top: 10px;
}

.life-bar > * {
  width: 100%;
  height: 100%;
  border: solid 2px var(--color-border);
}

.life-bar > *:not(:first-child){
  border-left: none;
}

.life-bar > *:first-child {
  
  border-radius: 10px 0px 0px 10px;
}

.life-bar > *:last-child {
  border-radius: 0px 10px 10px 0px;
}

.life-bar-active {
  background-color: #de2837;
  border: solid 2px #ab1f2a;
  animation: 0.4s lifeBarAnimation;
}

@keyframes lifeBarAnimation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes correctKeyAnimation {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes wrongKeyAnimation {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(3px);
  }

  50% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0px);
  }
}

